@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.footer-name {
  font-family: "Agustina", "Montserrat", "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0.5px;
}
